<h1>Connect your Spotify account</h1>

<a href="https://accounts.spotify.com/authorize?client_id=<%= @client_id %>&response_type=code&redirect_uri=<%= ERB::Util.url_encode(@redirect_uri) %>&scope=user-follow-modify,user-library-read,playlist-read-collaborative,playlist-modify-private,user-modify-playback-state,streaming,app-remote-control,user-read-private,user-read-playback-state,playlist-read-private,user-top-read,user-read-email,playlist-modify-public,user-library-modify,user-follow-read,user-read-currently-playing,user-read-recently-played">Connect</a>