---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/following?limit=50&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjE5ZmQ2YTRjOTRmNDEwNjA5ZTFkODllMjgzOTA5YzZiIg=="'
    body:
      encoding: UTF-8
      string: |-
        {
          "artists" : {
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/01XgbvLicKQELx7NqHgi5G"
              },
              "followers" : {
                "href" : null,
                "total" : 10807
              },
              "genres" : [ "new england americana" ],
              "href" : "https://api.spotify.com/v1/artists/01XgbvLicKQELx7NqHgi5G",
              "id" : "01XgbvLicKQELx7NqHgi5G",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/1c02934be9189e986a0a419e5313b9c6367bcb00",
                "width" : 640
              }, {
                "height" : 320,
                "url" : "https://i.scdn.co/image/a8158a8686a6922021917aedfe9086d584326689",
                "width" : 320
              }, {
                "height" : 160,
                "url" : "https://i.scdn.co/image/36d51c933587615330bbc1f0d86dd197576ae122",
                "width" : 160
              } ],
              "name" : "David Rawlings",
              "popularity" : 38,
              "type" : "artist",
              "uri" : "spotify:artist:01XgbvLicKQELx7NqHgi5G"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/01ts5a7R3WkeE2oKIouXEK"
              },
              "followers" : {
                "href" : null,
                "total" : 2705
              },
              "genres" : [ "banjo", "bluegrass", "instrumental bluegrass", "progressive bluegrass" ],
              "href" : "https://api.spotify.com/v1/artists/01ts[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/following?after=19YqJFv1Z3IYLdTzMe3f7J&limit=50&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjAxMGNkNGZjZjIzOTE5NzllN2QzZDY2M2ExYTU4ZDcyIg=="'
    body:
      encoding: UTF-8
      string: |-[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/following?after=2UKlumP0ZZDFcnuOSeNxHP&limit=50&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImEyMDg5NTk4YjUyYzBkNWQ5OGM5YmYwNDExMzE5ZjQ1Ig=="'
    body:
      encoding: ASCII-8BIT
      strin[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/following?after=3a1QidCLKC1IuMfGKY58kC&limit=50&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjgzMDE0ODA2ZWVlODBhZGQ1NDNlOTA5ODk0MjNhYzJiIg=="'
    body:
      encoding: UTF-8
      string: |-[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/following?after=4dwdTW1Lfiq0cM8nBAqIIz&limit=50&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImJjMjQwNzQ1MTFkNjZmZDcwYzRlZGRmNTIwZTQ2NzYwIg=="'
    body:
      encoding: ASCII-8BIT
      strin[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/following?after=5szilpXHcwOqnyKLqGco5j&limit=50&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjA1MmQ3ODlmNGRhMGFjNzg4OGE3MDZmNDE2ZjcwZmEwIg=="'
    body:
      encoding: ASCII-8BIT
      strin[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/following?after=6yULqqTzvfwsEonNzu7iJQ&limit=50&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjEwM2Y3NmY2Yzc5YjhhZGVkMWM4ZWU4NzZjZTNjODdjIg=="'
    body:
      encoding: UTF-8
      string: |-[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6zoDxs0nnHuD3dKmi7xIIj/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/6zoDxs0nnHuD3dKmi7xIIj/albums?offset=0&limit=20&include_groups=album,single,compilation,appears_on",
          "items" : [ {
            "album_group" : "album",
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/6zoDxs0nnHuD3dKmi7xIIj"
              },
              "href" : "https://api.spotify.com/v1/artists/6zoDxs0nnHuD3dKmi7xIIj",
              "id" : "6zoDxs0nnHuD3dKmi7xIIj",
              "name" : "Watkins Family Hour",
              "type" : "artist",
              "uri" : "spotify:artist:6zoDxs0nnHuD3dKmi7xIIj"
            } ],
            "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/7BQfk6UWoSg5QFwSTjhrjr"
            },
            "href" : "https://api.spotify.com/v1/albums/7BQfk6UWoSg5QFwSTjhrjr",
            "id" : "7BQfk6UWoSg5QFwSTjhrjr",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b27364e6104701d50ac9978afcaa",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e0264e6104701d50ac9978afcaa",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d0000485164e6104701d50ac9978afcaa",
              "width" : 64
            } ],
            "name" : "Watkins Family Hour",
            "release_date" : "2015-07-24",
            "release_date_precision" : "day",
            "total_tracks" : 11,
            "type" : "album",
            "uri" : "spotify:album:7BQfk6UWoSg5QFwSTjhrjr"
          }, {
            "album_group" : "single",
            "album_type" : "single",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/6zoDxs0nnHuD3dKmi7xIIj"
              },
              "href" : "https://api.spotify.com/v1/artists/6zoDxs0nnHuD3dKmi7xIIj",
              "id" : "6zoDxs0nnHuD3dKmi7xIIj",
              "name" [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/74ASZWbe4lXaubB36ztrGX/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICJocmVmIiA6ICJodHRwczovL2FwaS5zcG90aWZ5LmNvbS92MS9hcnRpc3RzLzc0QVNaV2JlNGx[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/76VUAoIQK3Dr9kxMy1rO9Y/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/76VUAoIQK3Dr9kxMy1rO9Y/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/77HU1Zb1VDIFvWKteJii0E/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICJocmVmIiA6ICJodHRwczovL2FwaS5zcG90aWZ5LmNvbS92MS9hcnRpc3RzLzc3SFUxWmIxVkR[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/79JJCxCCfJ8HufX6w8q2k4/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/79JJCxCCfJ8HufX6w8q2k4/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7C9hIwTUxeWIJzxK6rGH0d/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7C9hIwTUxeWIJzxK6rGH0d/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7DhP3bGT7dzr1dCkkH5mTS/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7DhP3bGT7dzr1dCkkH5mTS/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7ENzCHnmJUr20nUjoZ0zZ1/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7ENzCHnmJUr20nUjoZ0zZ1/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7G1GBhoKtEPnP86X2PvEYO/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7G1GBhoKtEPnP86X2PvEYO/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7GekK1oMVU35jfChgIP2PU/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7GekK1oMVU35jfChgIP2PU/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7Gv0LZfeF8TMugerDVAMDk/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7Gv0LZfeF8TMugerDVAMDk/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7ITd48RbLVpUfheE7B86o2/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7ITd48RbLVpUfheE7B86o2/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7JFtD8KnbAADBBDleIMuH7/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7JFtD8KnbAADBBDleIMuH7/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7LOJ56d8VmOebynlV01KfU/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7LOJ56d8VmOebynlV01KfU/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7MGPOWrHHrTJcviOWNbKEF/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7MGPOWrHHrTJcviOWNbKEF/albums?offse[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7caMdiwqwg1WefL7Jjm23M/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICJocmVmIiA6ICJodHRwczovL2FwaS5zcG90aWZ5LmNvbS92MS9hcnRpc3RzLzdjYU1kaXdxd2c[...]
