---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=spotify-client-id&client_secret=spotify-client-secret&code=some-secret-code&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"BQDfdPs4xr42Z7ja4AVHwRJj3EQ4CBRJsWiATUY03YRk_AHKb0H4Njs0WHfErpsRmvI0LlNbL3AXicszm9EVZgPjZjepLF3-TdboJbBrIQ_sZf0Ud8ceaYsscjFEDv_7CKeD9Zeot1x-JRnON2_qcId-O0disHD1D-_xs-YzfsC0hfIp1VKjhiySGJkda8ggHyiIAVTPPMIGofzrMSnLALEel0_jmFKZOVOBkVkUfeLoKcyMVVIZT1-vvnanRSkrUQpXVDClizsSgTNmeg4P5T3WixHgODA","token_type":"Bearer","expires_in":3600,"refresh_token":"AQAXqyErX7m9jzWBKz4PMftiOvOQ9f4LyiEA9teHyHh-mvGjeHbQRw1zpO41tGIVNgMEp6RFISrVcDo5UcpG3hzngi_783caZg-LJT3gr__UbMcz8zqjCRFUhPCnqQ2jfyGzMg","scope":"playlist-read-private
        playlist-read-collaborative user-follow-read playlist-modify-private user-read-email
        user-read-private streaming app-remote-control user-follow-modify user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-read-currently-playing user-read-birthdate user-read-recently-played
        user-top-read"}'
  recorded_at: Wed, 24 Apr 2019 18:57:45 GMT
recorded_with: VCR 4.0.0
